services:
  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    ports:
      - "8081:8081" # Web UI and repository access
    volumes:
      - nexus-data:/nexus-data # Persistent storage
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms512m -Xmx2048m -XX:MaxDirectMemorySize=2g
    restart: unless-stopped

volumes:
  nexus-data:
