<configuration debug="false" encoding="UTF-8">
    <property name="logback.encoding" value="UTF-8"/>

    <!-- generate unique uuid per logs  -->
    <conversionRule conversionWord="uuid" converterClass="com.apd.logbackspringbootfile.config.UUIDConverter" />

    <property name="logback.pattern"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%uuid|%-50logger{50}:%line - %msg%n"/>
    <property name="logback.pattern.error"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%uuid|%-50logger{50}:%line - %msg%n"/>

    <!--    <property name="logback.pattern.console"-->
<!--              value="%date{yyyy-MM-dd HH:mm:ss.SSS}|%highlight(%-5level)|%uuid|%-50logger{50}:%cyan(%line) - %msg%n"/>-->
<!--    -->
    <property name="logback.pattern.console"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS}|%highlight(%-5level){ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=cyan}|%uuid|%-50logger{50}:%cyan(%line) - %msg%n"/>

    <property name="logback.pattern.warn"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS}|%highlight(%-5level){WARN=yellow}|%uuid|%-50logger{50}:%cyan(%line) - %msg%n"/>


    <!--     send log to console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern.console}</pattern>
        </encoder>
    </appender>

    <!--    Appender Log Level handle  -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/spring-logback.debug.%d{yyyy-MM-dd}<!--.%i-->.log</FileNamePattern>
            <maxHistory>30</maxHistory>     <!-- Keep logs for 30 days -->
           <totalSizeCap>3GB</totalSizeCap>  <!--  Keep data max  3GB -->
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern.error}</pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/info.log</file> <!--  get the logs info to file logs -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/spring-logback.info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/warn.log</file> <!--  get the logs warn to file logs -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/spring-logback.warn.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>200MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/spring-logback.error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxHistory>30</maxHistory> <!--  30 day -->
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern.error}</pattern>
        </encoder>
    </appender>

    <!-- Used to set the log printing level of a certain package or a certain class -->
    <!-- <logger name="org.springframework" level="warn"/> -->
    <logger name="org.apache" level="info"/>
    <logger name="org.aspectj.weaver" level="warn"/>
    <logger name="org.hibernate" level="OFF"/>
    <logger name="java.sql.Connection" level="debug"/>
    <logger name="java.sql.Statement" level="debug"/>
    <logger name="java.sql.ResultSet" level="debug"/>
    <logger name="java.sql.PreparedStatement" level="debug"/>
    <logger name="org.springframework" level="off"/>
    <logger name="org.springframework.integration.sftp.session.JschLogger" level="off"/>
    <logger name="org.springframework.integration.sftp.session.JschLogger.log" level="off"/>
    <logger name="com.jcraft.jsch" level="error"/>
    <logger name="io.lettuce.core" level="error"/>
    <logger name="io.lettuce.core.RedisClient" level="debug"/>
    <logger name="io.netty" level="error"/>

    <root level="DEBUG">
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="WARN_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
        <!-- The console log is parsed last -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>